
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html{
	height: 100%;
}

body{
	margin: 0;
	padding: 0;
	width: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: Work Sans, Clear Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-size: 16px;
	color: #d9d9d9;
	line-height: 1.6;
	background: #9c9c9c;
}

.menu__bar{
	display: flex;
	position: fixed;
	width: 100%;
	box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.5);
	z-index: 2;
	top: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}

.menu__bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu__bar li a:hover {
	background-color: #111;
}

.menu__bar__connect{
	margin-left: auto;
}

.main-container{
	max-width: 1280px;
	margin: 2% auto;
	background-color: #ffffff;
}

@media screen and (max-width: 640px) {

}

.head-img{
	max-width: 100%;
	object-fit: cover;
}

.img-container{
	position: relative;
	line-height: 0;
	height: 580px;
}

.form-img{
	position: absolute;
	background: #FFFFFF;
	border-radius: 3px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	top: 50%;
	transform: translate(-50%,-50%);
	left: 50%;
	width: 100%;
	max-width: 550px;
	display: flex;
}

.input__text{
	border: 0;
	background: transparent;
	outline: none;
	padding: 0 8px;
	line-height: 42px;
	width: 100%;
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: rgba(51, 51, 51, 0.4);
}

.input__button{
	border: 0;
	background: transparent;
	padding: 12px;
}

.box-container{
	display: flex;
	justify-content: center;
	margin-top: -50px;
	z-index: 1;
	position: relative;
	padding: 20px;
	flex-wrap: wrap;
	max-width: 978px; 
	margin-left: auto;
	margin-right: auto;
}

.card{
	flex-basis: 306px;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	margin: 10px;
}

.card__body{
	position: relative;
	padding: 0 12px 12px;
	font-weight: 600;
	margin: 0 0 0;
}

.card__body:after {
	content: '';
	position: absolute;
	bottom: 0;
	left:12px;
	right: 12px;
	height: 1px;
	background-color: rgba(51, 51, 51, 0.2);
}


.card__title{
	position: relative;
	font-size: 14px;
	line-height: 16px;
	color: #242424;
	color: rgba(51, 51, 51, 0.6);
	margin: 0;
}

.card__price{
	margin: 0;
	color: #333333;
}

.card__address{
	font-family: Work Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	color: rgba(51, 51, 51, 0.7);
}

.card__excerpt{
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	color: rgba(51,51,51,0.7);
	margin: 0 0 4px;
	padding: 0 12px;
}

.card__prop{
	display: flex;
	flex-basis: 50%;
	margin: 0;
}

.card__prop img{
	margin: 4px;
}

.card__prop p{
	margin: 5px 0px;
}

.card__button{
	position: absolute;
	top: 120px;
	right: 12px;
	width: 16px;
	height: 16px;
}

.card__image{
	height: 172px;
	width: 100%;
}

.card__footer{
	background: #F0F0F0;
	border-radius: 0px 0px 5px 5px;
	display: flex;
	align-items: center;
}

.card__footer__image{
	margin: 14px 10px 14px 12px;
}

.card__footer__name{
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	color: #333333;
}

.card__footer__phone{
	font-style: normal;
	font-size: 12px;
	line-height: 14px;
	color: rgba(51, 51, 51, 0.6);
}

