<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
	<div>
		<ul class="menu__bar">
			<li><a class="active" href="#home">Accueil</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
			<li class="menu__bar__connect"><a href="">Se Connecter</a></li>
		</ul>
	</div>

	<div class="first-container">
		<div class="main-container">
			<div class="img-container">
				<img class="head-img" src="./Content/image.png" alt="">
				<form class="form-img" action="/action_page.php">
					<input class="input__text" type="text" placeholder="My Dream House..." name="search">
					<button class="input__button" type="submit">
						<img src="Content/Frame.svg">
					</button>
				</form>
			</div>
			<div class="box-container">
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (3).svg">
							<p><strong>1</strong> Garage</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (3).svg">
							<p><strong>1</strong> Garage</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (3).svg">
							<p><strong>1</strong> Garage</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (3).svg">
							<p><strong>1</strong> Garage</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
				<div class="card">
					<img class="card__image" src="./Content/card-image.png">
					<div class="card__body">
						<h3 class="card__title">DETACHED HOUSE</h3>
						<h2 class="card__price">$2,525,000</h2>
						<address class="card__address">7 Serenity Road</address>
					</div>
					<div class="card__excerpt">
						<div class="card__prop">
							<img src="Content/surface1.svg">
							<p><strong>230</strong> m²</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (1).svg">
							<p><strong>3</strong> Bedrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (2).svg">
							<p><strong>2</strong> Bathrooms</p>
						</div>
						<div class="card__prop">
							<img src="Content/Vector (3).svg">
							<p><strong>1</strong> Garage</p>
						</div>
					</div>
					<div class="card__footer">
						<img class="card__footer__image" src="Content/Pic.png">
						<div class="card__footer__address">
							<span class="card__footer__name">Tiffany Heffner</span>
							<address class="card__footer__phone">(555) 555-8457</address>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>