<!DOCTYPE html>
<html>

<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="../../public/css/style.css">
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="../../public/css/slick/slick.css"/>
	<!-- Add the slick-theme.css if you want default styling -->
	<link rel="stylesheet" type="text/css" href="../../public/css/slick/slick-theme.css"/>
</head>
<body>
	<div>
		<ul class="menu__bar">
			<li><a class="active" href="#home">Accueil</a></li>
			<li><a href="#news">News</a></li>
			<li><a href="#contact">Contact</a></li>
			<li class="menu__bar__connect"><a href="">Se Connecter</a></li>
		</ul>
	</div>

	<div class="first-container">
		<div class="main-container">
			<div class="your-class">
				<div>your content</div>
				<div>your content</div>
				<div>your content</div>
			</div>
		</div>
	</div>

	<div class="footer">

	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="../../public/css/slick/slick.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('.your-class').slick({
			});
		});
	</script>
</body>
</html>